<!-- ======= SAP Section ======= -->
<section id="sap" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-md-left">
        <h1>SAP Business One</h1>
    </div>
</section>
<!-- Fin SAp -->


<!-- =========== Introducción a SAP ================== -->
<section class="introduccion">
    <div class="container">
        <div class="row">
            <div class="col-6 mt-4">
                <p>SAP Business ONE es una soluci&oacute;n integrada de planificaci&oacute;n de recursos empresariales (ERP) que manejan desde PyMES hasta grandes empresas.
                </p>
                <p>EN Rosmar, la plataforma de SAP Ayuda a gestionar todos los aspectos brindando acceso a la informaci&oacute;n empresarial en tiempo real y se divide en varios m&oacute;dulos flexibles y extensibles, cada uno dedicado a un proceso de negocios
                    distinto.
                </p>

            </div>
            <div class="col-6" style="color: #15397f;">
                <div class="ps-4 d-inline-block">
                    <span class="bi bi-people fs-1"></span>
                    <span class="h5 ms-2">Interfaz empresarial</span>
                </div>

                <div class="ps-4 d-inline-block">
                    <span class="bi bi-laptop fs-1"></span>
                    <span class="h5 ms-2">Acceso a información en tiempo real</span>
                </div>

                <div class="ps-4 d-inline-block">
                    <span class="bi bi-layers fs-1"></span>
                    <span class="h5 ms-2">M&oacute;dulos flexibles</span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-4 text-center">
                <a href="https://help.sap.com/viewer/68a2e87fb29941b5bf959a184d9c6727/10.0/es-ES" target="_blank">
                    <img src="./assets/img/iconos/FAQ.svg"> P&aacute;gina de ayuda oficial
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="" data-bs-toggle="modal" data-bs-target="#video-intro">
                    <img src="./assets/img/iconos/VIDEO.svg"> ver video de navegaci&oacute;n
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="" data-bs-toggle="modal" data-bs-target="#preguntasGenerales">
                    <img src="./assets/img/iconos/FAQ.svg"> Preguntas frecuentes
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ============== Fin Introducción -->


<!-- ============= Sección de Gestión ===================== -->
<section id="gestion" class="section-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="pb-3"> Gesti&oacute;n</h2>
                <p>Para preparar SAP Business One para utilizar en la empresa, es posible utilizar este m&oacute;dulo y realizar lo siguiente:</p>
            </div>
            <div class="row">
                <div class="col-6">

                    <ul>
                        <li>Especificar informaci&oacute;n sobre la empresa e información sobre el usuario en el sistema, como por ejemplo:
                        </li>
                        <ul>
                            <li>Tipos de cambio de moneda</li>
                            <li>Autorizaciones y avisos</li>
                            <li>Autorizaciones</li>
                            <li>Organización del correo interno, parametrizaciones básicas del correo electrónico, entre otra información</li>
                            <li>Acceder a información de aplicaciones de software distintas de SAP utilizando funciones de importación y exportación de datos</li>
                        </ul>
                        <li>Especificar las definiciones y los parámetros del sistema.</li>
                        <li>Realizar funciones de mantenimiento regular del sistema, como copias de seguridad y restauración</li>
                    </ul>

                    <div class="row pt-4 finanzas">

                        <div class="col-6 text-center">
                            <a href="" data-bs-toggle="modal" data-bs-target="#video-gestion">
                                <img src="./assets/img/iconos/VIDEO.svg"> ver video tutorial
                            </a>
                        </div>
                        <div class="col-6 text-center">
                            <a href="" data-bs-toggle="modal" data-bs-target="#preguntasGestion">
                                <img src="./assets/img/iconos/FAQ.svg"> Preguntas frecuentes
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <img src="./assets/img/SAP/SAP-GESTION.jpg" class="img-fluid rounded shadow">

                    <!-- Button trigger modal -->
                    <div class="icon-box icon-box-blue text-center pt-4">
                        <div class="icon">
                            <a href="" data-bs-toggle="modal" data-bs-target="#gestion-pantalla"><i class="bi bi-plus-circle"></i> Vea más capturas de pantalla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- ================ Fin gestion ========================= -->

<!-- ============= Sección de Finanzas ===================== -->
<section id="finanzas">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="pb-3">Finanzas</h1>
                <p>Mejore los márgenes, reduzca los errores e impulse una toma de decisiones más rentable con un conjunto completo de herramientas para operaciones financieras optimizadas.</p>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-6">
                <img class="img-fluid shadow rounded-3" src="assets/img/SAP/SAP-FINANZAS.jpg" alt="">
            </div>
            <div class="col-6 finanzas">
                <h3>Este m&oacute;dulo:</h3>
                <ul>
                    <li>Incluye todas las funciones e informes necesarios para el funcionamiento de la contabilidad y las finanzas de una sociedad GL.</li>
                    <li>Incluye todos los informes relacionados con impuestos seg&uacute;n la normativa de cada pa&iacute;s/regi&oacute;n.</li>
                    <li>Permite documentar todas las transacciones relacionadas con las finanzas y la contabilidad.</li>
                </ul>
                <div class="row pt-2">

                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-color" (click)="redireccion(1)">
                            <img src="./assets/img/iconos/VIDEO.svg"> ver video tutorial
                        </button>
                    </div>
                    <div class="col-6 text-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#preguntasFinanzas">
                            <img src="./assets/img/iconos/FAQ.svg"> Preguntas frecuentes
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- ================ Fin Finanzas ========================= -->

<!-- ============= Sección de Ventas - clientes ===================== -->
<section id="ventas" class="section-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="pb-3">Ventas - Clientes</h1>
                <p>Este m&oacute;dulo abarca el proceso de ventas completo, desde la creaci&oacute;n de ofertas a clientes y partes interesadas hasta la facturaci&oacute;n, creaci&oacute;n de documentos preliminares e impresi&oacute;n, SAP Business One proporciona
                    un amplio rango de documentos de ventas, cada uno de los cuales pertenece a una etapa diferente del proceso de ventas.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p>Se pueden personalizar los documentos para cumplir con requisitos especiales, de la siguiente forma:</p>
                <ul>
                    <li>Combine diferentes clases de contenido en un documento de ventas mediante las parametrizaciones correspondientes en la ventana
                        <strong>Parametrizaciones de formulario.</strong>
                    </li>
                    <li>Realice el procesamiento por lotes de documentos destino mediante el <strong>Asistente de creaci&oacute;n de documentos.</strong></li>
                    <li>Cree cartas mediante el <strong>Asistente de reclamaciones </strong> para notificar a los clientes sobre las facturas pendientes</li>
                    <li>Añada texto predefinido a un documento con el editor de texto integrado.</li>
                </ul>
                <div class="row pt-4">

                    <div class="col text-center finanzas">
                        <button type="button" class="btn btn-color" (click)="redireccion(2)">
                            <img src="./assets/img/iconos/VIDEO.svg"> ver video tutorial
                        </button>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <img src="./assets/img/SAP/SAP-VENTAS.jpg" class="img-fluid shadow rounded-3">

                <!-- Button trigger modal -->
                <div class="icon-box icon-box-blue text-center pt-2 mt-4">
                    <div class="icon">
                        <a href="" data-bs-toggle="modal" data-bs-target="#proceso-ventas"><i class="bi bi-plus-circle"></i> Proceso de ventas</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ Fin Ventas - clientes ========================= -->

<!-- ============= Sección de Compras - Proveedores ===================== -->
<section id="compras">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="pb-3">Compras - Proveedores</h1>
                <p>
                    SAP Business One permite gestionar todo el proceso de compras desde los pedidos hasta la gestión de las facturas de proveedores. Además, es posible crear diferentes informes para analizar información de compras; por ejemplo, análisis del volumen de compras,
                    información sobre determinación de precios, antigüedad de saldos de proveedores, etc.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                <img src="./assets/img/SAP/SAP-COMPRAS.jpg" class="img-fluid shadow rounded-3">

                <!-- Button trigger modal -->
                <div class="icon-box icon-box-blue text-center pt-4 mt-4">
                    <div class="icon">
                        <a href="" data-bs-toggle="modal" data-bs-target="#proceso-compras"><i class="bi bi-plus-circle"></i> Proceso de Compras</a>

                    </div>
                </div>
            </div>

            <div class="col-6">
                <h4>Alcance de la funci&oacute;n:</h4>
                <p>SAP Business One admite los siguientes documentos de compras:</p>

                <ul>
                    <li>Solicitudes de pedido</li>
                    <li>Pedido</li>
                    <li>Pedido de entrada de mercancías</li>
                    <li>Devolución de mercancías</li>
                    <li>Factura de anticipo de proveedores</li>
                    <li>Factura de proveedores</li>
                    <li>Abono de proveedores</li>
                    <li>Factura de anticipo de proveedores</li>
                    <li>Precios de entrega</li>
                </ul>

                <p>Un documento de compras puede basarse en otro y así copiar todos los datos relevantes en el nuevo documento. Por ejemplo, se comienza con el pedido y el pedido de entrada de mercancías se basa en ese pedido. Luego, se procede con la factura
                    de proveedores y ésta se basa en la entrada de mercancías OP.</p>

                <div class="row pt-4">

                    <div class="col text-center finanzas">
                        <button type="button" class="btn btn-color" (click)="redireccion(3)">
                            <img src="./assets/img/iconos/VIDEO.svg"> ver video tutorial
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ================ Fin Compras - Proveedores ========================= -->

<!-- ============= Sección Inventario ===================== -->
<section id="inventario" class="section-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="pb-3">Inventario</h1>
                <p>Utilice el m&oacute;dulo Inventario para optimizar la gesti&oacute;n de stocks</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Se incluye lo siguiente:</p>
                <ul>
                    <li>Gesti&oacute;n de registros de datos maestros de art&iacute;culos.</li>
                    <li>Operaciones con n&uacute;meros de serie y lote.</li>
                    <li>Gesti&NonBreakingSpace;n de operaciones de stock, que incluyen entradas de mercanc&iacute;as, traslados, parametrizaciones de cantidad inicial de art&iacute;culos y recuentos de inventario.</li>
                    <li>Gestión de listas de precios, que incluye descuentos por período y cantidad, y precios especiales.</li>
                    <li>Operaciones con el proceso de picking y embalaje.</li>
                    <li>Generación de informes relacionados con el inventario.</li>
                </ul>
                <div class="row pt-4">

                    <div class="col text-center finanzas">
                        <button type="button" class="btn btn-color" (click)="redireccion(4)">
                            <img src="./assets/img/iconos/VIDEO.svg"> ver video tutorial
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="./assets/img/SAP/SAP-INVENTARIOS.jpg" class="img-fluid shadow rounded-3">
            </div>
        </div>
    </div>
</section>
<!-- ================ Fin Inventario ========================= -->

<!-- ============= Sección Producción ===================== -->
<section id="produccion">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="pb-3">Producci&oacute;n</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img src="./assets/img/SAP/SAP-PRODUCCION.jpg" class="img-fluid">

                <div class="row pt-4">

                    <div class="col text-center finanzas">
                        <button type="button" class="btn btn-color" (click)="redireccion(5)">
                            <img src="./assets/img/iconos/VIDEO.svg"> ver video tutorial
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <p>Use el módulo Producción de SAP Business One para crear y actualizar lo siguiente:</p>

                <ul>
                    <li>Lista de materiales (BOM): especifica las cantidades de componentes que constituyen un producto.</li>
                    <li>Órdenes de fabricación: es un conjunto de instrucciones para planificar y montar un artículo de producción. Monitoriza todas las transacciones de material y los costos que participan en el proceso de producción, así como los costos
                        adicionales tales como los gastos generales de mano de obra.</li>
                </ul>

                <p>SAP Business One admite los siguientes tres tipos de órdenes de fabricación:</p>
                <ul>
                    <li>Estándar: para la producción normal. Los componentes se copian desde la lista de materiales del artículo.</li>
                    <li>Especial: para producir artículos o realizar actividades en el área de fabricación que no se basan en la lista de materiales Estándar.</li>
                    <li>Desmontaje: para informar sobre el desmontaje de un artículo con una lista de materiales de producción. Los componentes se copian desde la lista de materiales del artículo.</li>
                </ul>

                <p>Un producto terminado puede ser el resultado de un proceso de producción completo, o de una colección de artículos que se venden como unidad pero que no son el resultado de un proceso de fabricación o de montaje.</p>
            </div>
        </div>
    </div>
</section>
<!-- ================ Fin  Producción ========================= -->

<!-- ============= Sección de Oportunidades ===================== -->
<section id="oportunidades" class="section-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pb-3">Oportunidades</h1>
                <p>El m&oacute;dulo Oportunidades permite realizar un seguimiento y un an&aacute;lisis de las oportunidades pendientes, seg&uacute;n el progreso de actividades, como reuniones, negociaciones y otros procedimientos de los pipelines de compras
                    y ventas.</p>
                <p>Los exhaustivos métodos de pronóstico permiten proyectar los beneficios potenciales del proyecto y determinar la prioridad de las actividades de compras y ventas.</p>
                <p>Mediante las diferentes fichas de la ventana Oportunidades se puede procesar una oportunidad desde la creación y configuración de campos, la actualización y la gestión de informes hasta el cierre.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./assets/img/SAP/SAP-OPORTUNIDADES.jpg" class="img-fluid shadow rounded-3">

                <div class="icon-box icon-box-blue text-center pt-4 mt-4">
                    <div class="icon">
                        <a href="" data-bs-toggle="modal" data-bs-target="#proceso-oportunidades"><i class="bi bi-plus-circle"></i> Proceso de Oportunidades </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4>Algunas funciones de este m&oacute;dulo incluyen las siguientes:</h4>
                <ul>
                    <li>Enlazar a diferentes documentos.</li>
                    <li>Designar un titular para una oportunidad.</li>
                    <li>Seleccionar un titular diferente para cada etapa de una oportunidad.</li>
                    <li>Determinar el acceso del empleado del departamento de ventas a la informaci&oacute;n incluida.</li>
                    <li>El análisis se puede realizar por etapa, por usuario o mediante un resumen de alto nivel que se visualiza en el informe de estadística.</li>
                    <li>Los informes se pueden filtrar por parámetros, como interlocutor comercial, empleado del departamento de ventas, comprador y período de tiempo.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ================ Fin Oportunidades ========================= -->


<!-- Modal video intro-->
<div class="modal fade" id="video-intro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Navegación en SAP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="pauseVideo()"></button>
            </div>
            <div class="modal-body text-center">
                <youtube-player [videoId]="id" (ready)="savePlayer($event)" (stateChange)="videoStateChange($event)" [width]="1000" [height]="700">
                </youtube-player>
            </div>
        </div>
    </div>
</div>



<!-- =========== Modal Gestion pantallas =============== -->
<div class="modal fade" id="gestion-pantalla" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Navegación en SAP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">

                <div id="carouselGestionControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/img/seleccionar-sociedad.png" class="d-block w-100" style="width: 50px;">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/cambio-moneda.png" class="d-block w-100 img-fluid">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGestionControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselGestionControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Gestión-->
<div class="modal fade" id="video-gestion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center">Modulo de Gestión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #15397f;" (click)="restart()"></button>
            </div>
            <div class="modal-body text-center bg-black">
                <video id="videoGestion" width="100%" height="100%" controls>
                    <source src="./assets/videos/SAP/Gestion/RecorridoGeneral.mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<!-- Modal compras-->
<div class="modal fade" id="proceso-compras" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Proceso de compras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Puede iniciar el proceso de compra en SAP Business One mediante la solicitud de oferta de artículos o servicios de los proveedores utilizando el documento de solicitud de pedido. Una vez comparadas las ofertas de los proveedores y seleccionada la mejor
                    oferta, se piden las mercancías. Para realizar el pedido de artículos o servicios, cree un documento de pedido.
                </p>
                <p>
                    La siguiente etapa es el pedido de entrada de mercancías. Ésta es la etapa en la que la empresa recibe el inventario. A la etapa de entrada de mercancías le sigue una factura de proveedores, que es la solicitud de pago. Es el único documento obligatorio
                    del proceso de compras. Se puede crear la factura de acreedores sin crear primero un pedido de entrada de mercancías ni un pedido.
                </p>
                <p>
                    En SAP Business One, es posible crear una factura de anticipo de proveedores. Este documento es similar a un pedido, pero incluye una orden de pago. La factura de anticipo de acreedores se utiliza cuando un proveedor tiene incertidumbres sobre la solvencia
                    de sus clientes. En el proceso de compras de SAP Business One, es posible devolver mercancías al proveedor si, por ejemplo, son defectuosas. Se puede utilizar una devolución de mercancías si la devolución se basa en un pedido de entrada
                    de mercancías o bien se puede utilizar un abono de proveedores si la devolución se basa en una factura de proveedores.
                </p>
                <p>
                    Es posible crear un documento nuevo basado en uno o más de los existentes. Al crear un documento con referencia a otro existente, sólo se visualizan los documentos que están aún abiertos. Los documentos para los que no se haya creado un documento subsiguiente
                    tendrán el status de abierto. Los documentos abiertos permanecen con este status hasta que se transfieran todos los artículos al documento subsiguiente o hasta que se cierren o se anulen de forma manual.
                </p>
                <p>
                    Cada documento afecta las cantidades de inventario y algunos afectan al libro mayor. El pedido afecta la cantidad de inventario disponible. El pedido de entrada de mercancías incrementa la cantidad de inventario real. Si se crea una factura de acreedores
                    sin hacer referencia al pedido de entrada de mercancías, también se incrementará la cantidad en stock.
                </p>
                <p>
                    En lo que se refiere a la contabilidad, la factura de acreedores crea siempre una operación de contabilidad. Se registran los gastos de transporte y los impuestos y se actualiza la cuenta de acreedor con el nuevo saldo pendiente.
                </p>
                <p>
                    La factura de reserva de proveedores sólo afecta la cantidad de inventario disponible y crea una transacción contable.
                </p>
                <p>
                    La devolución de mercancías reduce los niveles reales de inventario. El abono de compras reduce los niveles reales de inventario y también crea una transacción contable al aplicar importes negativos en las cuentas anteriormente facturadas.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal ventas-->
<div class="modal fade" id="proceso-ventas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Proceso de ventas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    El proceso de ventas cambia de la emisión de una oferta de ventas de mercancías a la venta de mercancías (y servicio) a la entrega de mercancías y la facturación de las mercancías a los clientes. Cada paso incluye un documento, como un pedido de cliente
                    o una factura de deudores. SAP Business One mueve toda la información pertinente de un documento al siguiente en el flujo de documentos. Se pueden adaptar los pasos de acuerdo con las necesidades y los procesos empresariales.
                </p>

                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle">
                        <strong>  Requisitos</strong>
                    </i>
                    <p>
                        Para evitar problemas durante la creación de documentos en etapas posteriores del proceso de ventas, antes de comenzar a crear los documentos de venta, asegúrese de que los siguientes datos clave estén correctamente actualizados:
                    </p>
                    <ul>
                        <li>Datos maestros de interlocutores comerciales, especialmente la dirección de facturación y envío, condiciones de pago y parámetros de reclamaciones.</li>
                        <li>Datos maestros de artículos.</li>
                    </ul>
                </div>

                <h5><strong>Proceso</strong></h5>
                <p>
                    El proceso de ventas en SAP Business One incluye la creación de los siguientes documentos:
                </p>

                <ol>
                    <li>Oferta de Ventas
                        <p>Antes de realizar el pedido, los clientes con frecuencia requieren una oferta de ventas para revisar en la empresa. Se la puede crear como una propuesta de sus mercancías y servicios para un cliente actual o potencial. No da lugar
                            a ninguna contabilización que modifique cantidades o valores en la gestión de inventario o la contabilidad.</p>
                    </li>

                    <li>Pedido de cliente
                        <p>Un pedido de cliente es el compromiso por parte del cliente o cliente potencial de comprar un producto o servicio. El documento es importante para la planificación de la producción, creación de pedidos y programación de recursos.
                        </p>
                    </li>

                    <li>Entrega
                        <p>Se crea una nota de entrega para indicar el envío de las mercancías.</p>
                    </li>

                    <li>Factura de deudores
                        <p>Después de haber entregado las mercancías o suministrado los servicios, facture al cliente mediante una factura de deudores. Con este documento, solicite el pago a su cliente y registre el ingreso en la cuenta de pérdidas y ganancias.
                        </p>
                    </li>
                </ol>

                <div class="alert alert-info" role="alert">
                    <strong><i class="bi bi-info-circle"> Nota</i></strong>
                    <p>La factura es el único documento obligatorio en el proceso de ventas. Se puede crear uno sin crear los otros tres de antemano.</p>
                    <p>Por motivos legales, no es posible eliminar entregas ni facturas de deudores, ni modificar ningún dato relacionado con la contabilidad en dichos documentos, si ya se introdujeron en SAP Business One.</p>
                </div>

                <h5><strong>Documentos adicionales del proceso</strong></h5>
                <p>Cada uno de los siguientes documentos tiene un fin particular en el proceso de ventas.</p>

                <ul>
                    <li>Factura de reserva de clientes: se utiliza cuando una empresa tiene inquietudes respecto de la solvencia de su cliente. En este caso, la empresa solicita el pago antes de la entrega de los artículos al cliente.</li>
                    <li>Devolución: un documento de compensación de corrección que se utiliza para realizar un abono al cliente si las mercancías se han entregado sin haber emitido una factura de deudores.</li>
                    <li>Factura de deudores + pago: documento para ventas al contado a clientes esporádicos. SAP Business One procesa una factura de deudores + documento de pago del mismo modo que una factura de deudores. Los asientos correspondientes de
                        contabilidad e inventario se procesan automáticamente después de contabilizar el documento.</li>
                    <li>Abono de deudores: se utiliza para realizar un abono a un cliente si se entregaron las mercancías y se emitió una factura de deudores.</li>
                </ul>

                <p>
                    Es posible crear nuevos documentos a partir de documentos existentes. Al hacerlo, sólo se visualizan los documentos que todavía están pendientes. Documentos pendientes:
                </p>

                <ul>
                    <li>Son aquellos para los que aún no se ha creado un documento de seguimiento.</li>
                    <li>Permanecen pendientes hasta que se transfieran todos los artículos al documento de seguimiento o hasta que se cierren o se inviertan de forma manual.</li>
                </ul>

                <h5><strong>Efectos en la cantidad del inventario y el libro mayor</strong></h5>
                <p>Cada documento actualiza las cantidades en el inventario y el libro mayor de las siguientes formas.</p>

                <ul>
                    <li>Un pedido de cliente afecta la cantidad de inventario comprometido a un cliente y, por tanto, a la cantidad en inventario disponible.</li>
                    <li>Una entrega reduce el inventario comprometido y las cantidades en stock. Asimismo, afecta el libro mayor, si SAP Business One gestiona el inventario permanente. En este caso, la entrega reducirá la valoración de inventario y contabilizará
                        un coste de venta.</li>
                    <li>Una factura de deudores creada sin hacer referencia a la entrega, también reducirá la cantidad en stock. Una factura de deudores crea siempre una transacción contable. Registra los ingresos y los impuestos, y actualiza las cuentas
                        de clientes con un nuevo saldo pendiente.</li>
                    <li>Una factura de deudores + pago reduce la cantidad en stock y registra ingresos e impuestos.</li>
                    <li>La factura de reserva de clientes afecta la cantidad de inventario comprometido a un cliente y, por tanto, la cantidad en inventario disponible. También crea una operación contable.</li>
                    <li>Una devolución aumenta la cantidad en stock y actualiza las cuentas de inventario asociadas.</li>
                    <li>Un abono de deudores aumenta los niveles de inventario disponible y crea transacciones contables. Abona las cuentas de cliente del libro mayor y corrige la cuenta de ingresos por la misma cantidad.</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Modal preguntas generales-->
<div class="modal fade" id="preguntasGenerales" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl bg-primary">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Preguntas Generales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                ¿Cómo recuperar iconos en la barra de herramientas?
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ol>
                                    <li>Haga clic con el botón derecho del ratón en la barra de herramientas para ver el menú que muestra los distintos grupos de iconos disponibles.</li>
                                    <li>Seleccione el grupo relevante para colocar los iconos en la barra de herramientas.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                          Al intentar conectar un documento base con un documento destino, la ventana Lista de documentos base no contiene el documento base requerido, aunque aparece en el informe Lista de artículos abiertos. ¿Cuál es el motivo?
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                El tipo (servicio/posición) de documento destino debe ser idéntico al tipo de documento base. Cambie el tipo de documento destino y abra la lista de documentos base nuevamente.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                          ¿Cómo cerrar simultáneamente todas las ventanas abiertas de SAP Business One?
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">En el menú Ventana de la barra de menú, seleccione Cerrar todos.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                                ¿Cómo verificar qué versión de SAP Business One estoy usando?
                        </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">En el menú Ayuda de la barra de menú, seleccione Info.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
                                La ventana Menú principal desapareció. ¿Cómo la recupero?
                        </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">En el menú Ventana de la barra de menú, seleccione la opción Menú principal o presione CTRL + 0.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="true" aria-controls="flush-collapseSix">
                                ¿Cómo usar las teclas F para crear atajos de teclado para las funciones de SAP Business One?
                        </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ol>
                                    <li>En el menú Herramientas de la barra de menú, seleccione Mis atajos Personalizar</li>
                                    <li>En la ventana Personalizar, seleccione Teclado.</li>
                                    <li>En la ventana Personalizar teclado, puede asignar una función específica a cada tecla F.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="true" aria-controls="flush-collapseSeven">
                                ¿Cómo buscar información sobre un campo específico de SAP Business One?
                        </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Haga clic con el botón derecho del ratón en el campo requerido y seleccione la opción ¿Qué es esto?.</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal preguntas gestion-->
<div class="modal fade" id="preguntasGestion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Preguntas Módulo Gestión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="accordion accordion-flush" id="accordionFlushGestion">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                ¿Es posible eliminar el registro de datos maestros del cliente de un interlocutor comercial?
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushGestion">
                            <div class="accordion-body">
                                Sí, en tanto no se hayan contabilizado transacciones de inventario o contabilidad en este cliente.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                ¿Es posible eliminar el registro de datos maestros de un artículo?
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushGestion">
                            <div class="accordion-body">
                                Sí, si esta posición no tiene transacciones de inventario relacionadas.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                ¿Cómo cancelar un registro de posición si no es posible eliminarlo?
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushGestion">
                            <div class="accordion-body">Visualice los datos maestros de posición requeridos y seleccione Datos Cancelar. La posición no aparecerá en los informes de inventario y no estará disponible para selección en los documentos de marketing. Para reactivarla,
                                visualice la posición y elija Datos Restaurar.</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal preguntas finanzas-->
<div class="modal fade" id="preguntasFinanzas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Preguntas Frecuentes de Finanzas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="accordion accordion-flush" id="accordionFlushFinanzas">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                ¿Es posible reemplazar la plantilla del gráfico de cuentas definida para la empresa?
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushFinanzas">
                            <div class="accordion-body">
                                Puede indicar una plantilla de gráfico diferente si se cumplen las siguientes condiciones:
                                <ul>
                                    <li>que no se hayan contabilizado operaciones en la base de datos y</li>
                                    <li>que no se hayan añadido nuevas cuentas de mayor.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                                ¿Por qué los asientos creados con la función de diferencias de conversión no incluyen valores en moneda local?
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushFinanzas">
                            <div class="accordion-body">
                                <p>Los asientos que se generan a partir de las diferencias de conversión reflejan la diferencia entre la tasa de la moneda del sistema en la fecha de contabilización de un asiento y en la fecha en la que se realizan las diferencias
                                    de conversión. El saldo de la moneda del sistema de la cuenta de mayor/interlocutor comercial se actualiza de manera consecuente.</p>
                                <p>Los valores en moneda local no son relevantes para esta comparación. Por lo tanto, los asientos creados con la función de diferencias de conversión no incluyen valores en moneda local.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                                El gráfico de cuentas incluye cuentas resaltadas en verde. ¿Qué tienen de especial esas cuentas?
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushFinanzas">
                            <div class="accordion-body">Las cuentas en verde son cuentas predeterminadas en las que se contabilizan las distintas operaciones contables que se realizan en SAP Business One. Estas cuentas están definidas en Gestión Definición Finanzas Determinación
                                de cuentas de mayor.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                                ¿Es posible cambiar la moneda definida para la cuenta de mayor o para el interlocutor comercial luego de haber contabilizado los asientos?
                        </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushFinanzas">
                            <div class="accordion-body">Si la moneda definida para la cuenta de mayor o para el interlocutor comercial es la moneda local o una moneda extranjera específica, es posible cambiarla a Todas las monedas. Si la moneda indicada originalmente es Todas las
                                monedas, no es posible efectuar el cambio.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
                                ¿Por qué la ficha Inventario de la ventana Determinación de cuenta de mayor está desactivada?
                        </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushFinanzas">
                            <div class="accordion-body">Esta pestaña solo está activa en las empresas que ejecutan un sistema contable de inventario permanente (la opción Método estándar de valoración está seleccionada en la ficha Gestión Inicialización de sistema Detalles de empresa
                                Inicialización básica).</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal oportunidades-->
<div class="modal fade" id="proceso-oportunidades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Proceso de Oportunidades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/SAP/PROCESO-OPORTUNIDADES.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>