.btn-color {
    color: #199CDD;
}


/*--------------------------------------------------------------
# SAP Section
--------------------------------------------------------------*/

#sap {
    width: 100%;
    height: calc(40vh);
    background-image: url("../../../assets/img/SAP/SAP-BANNER.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}

@media (min-width: 1024px) {
    #sap {
        background-attachment: fixed;
    }
}

.sap-banner {
    z-index: 100;
    margin-top: 20px;
    padding: 0;
}

.sap-text {
    position: absolute;
    margin-top: 150px;
}

#sap .container {
    z-index: 2;
}

#sap h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#sap h2 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 35px;
    font-size: 24px;
}

@media (min-width: 1024px) {
    #sap {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #sap h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #sap h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.introduccion img,
svg {
    vertical-align: middle;
    width: 40px;
    margin-right: 5px;
}

.compras img,
svg {
    vertical-align: middle;
    width: 40px;
    margin-right: 5px;
}


/* Finanzas */

.finanzas img,
svg {
    vertical-align: middle;
    width: 40px;
    margin-right: 5px;
}

.finanzas h3 {
    font-size: 1.3rem;
}

.finanzas p {
    font-size: 16px;
}

#medio {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    #medio {
        width: 992px;
    }
}

.accordion-body {
    background: rgba(229, 215, 249, .2)
}