<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Bienvenido a la p&aacute;gina de <br> T.I. de Grupo Rosmar</h1>
        <h2>Aqu&iacute; podr&aacute;s resolver tus dudas acerca de los temas m&aacute;s comunes en tu d&iacute;a a d&iacute;a.</h2>
        <a href="#services" class="btn-get-started scroll ">Comencemos</a>
    </div>
</section>
<!-- End sap -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Servicios</h2>
                <p>&#33;Alcanza tus objetivos con mayor facilidad&iexcl;</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">

                    <div class="icon-box">
                        <div class="icon"><img src="assets/img/iconos/sap.svg" alt="SAP"></div>
                        <h4 class="title">Sap Business One</h4>
                        <p class="description">Software de negocios. Permite la integraci&oacute;n de todos los procesos del grupo en un solo lugar, facilitando el flujo de informaci&oacute;n.</p>
                        <br><br>
                        <a routerLink="/sap">ir a...</a>
                    </div>

                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><img src="assets/img/iconos/microsoft.svg" alt="Office 365"></div>
                        <h4 class="title">Microsoft 365</h4>
                        <p class="description">Conoce los programas m&aacute;s utilizados de esta suite de aplicaciones para oficina (Word, Excel, Power Point, Outlook, OneDrive).</p>
                        <br>
                        <a routerLink="/office">ir a...</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><img src="assets/img/iconos/sharepoint.svg" alt="Sharepoint"></div>
                        <h4 class="title">Sharepoint</h4>
                        <p class="description">Sistema de administraci&oacute;n de contenido, accede, almacena, administra y comparte informaci&oacute;n desde varios dispositivos.</p>
                        <br>
                        <a href="" data-bs-target="#modal-construccion" data-bs-toggle="modal">ir a...</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><img src="assets/img/iconos/NOIAsistente.png" alt="NOI"></div>
                        <h4 class="title">NOI Asistente</h4>
                        <p class="description">Sistema de administraci&oacute;n de contenido, accede, almacena, administra y comparte informaci&oacute;n desde varios dispositivos.</p>
                        <br>
                        <a href="" data-bs-target="#modal-construccion" data-bs-toggle="modal">ir a...</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Services Section -->


    <!-- ======= Ciberseguridad Section ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="section-title">
                <h2>Ciberseguridad</h2>
                <p>De la misma manera que prestamos atenci&oacute;n en cerciorarnos que cerramos el auto y en ubicar la <br> cartera para no ser susceptible a robo, hemos de cuidar la serguridad de nuestros datos.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                                <h4>&iquest;Qu&eacute; es la ciberseguridad&#63;</h4>
                                <p>Es un conjunto de procedimientos y herramientas que se implementan para proteger la informaci&oacute;n que se genera y procesa a trav&eacute;s de computadoras, servidores y dispositivos m&oacute;viles.
                                </p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                                <h4>Ciberseguridad en Rosmar</h4>
                                <p>En Rosmar manejamos cinco funciones de seguridad las cuales son:</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                                <h4>Pol&iacute;ticas dentro de Rosmar</h4>
                                <p>Las pol&iacute;ticas que tenemos nos ayudan a proteger y salvaguardar la informaci&oacute;n de los usuarios, as&iacute; como mantener un orden en la divulgaci&oacute;n de informaci&oacute;n. A continuaci&oacute;n se mencionan
                                    las pol&iacute;ticas de seguridad que tenemos dentro de la empresa.
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 ml-auto" data-aos="fade-left">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <figure>
                                <img src="assets/img/CIBERSEGURIDAD-01.jpg" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="tab-pane" id="tab-2">

                            <figure>
                                <img src="assets/img/CIBERSEGURIDAD-02.jpg" alt="" class="img-fluid">
                            </figure>

                        </div>
                        <div class="tab-pane" id="tab-3">
                            <figure>
                                <img src="assets/img/CIBERSEGURIDAD-03.jpg" alt="" class="img-fluid">
                            </figure>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Preguntas Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Preguntas frecuentes</h2>
                <p>En esta secci&oacute;n encontraras respuesta a las preguntas frecuentes de los distintos servicios.</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-1">
                          &iquest;Com&oacute; solicitar ayuda a T.I&#63;
                          <i class="bx bx-chevron-down icon-show"></i>
                          <i class="bx bx-chevron-up icon-close"></i>
                      </a>
                        <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                            <ol>
                                <li class="pb-0">
                                    <div class="d-flex">
                                        Ingrese a
                                        <a href="https://qrosmar.sharepoint.com/SitePages/Inicio.aspx" target="_blank" class="p-0 ms-1 me-1"> <strong>Sharepoint</strong></a>
                                    </div>
                                </li>
                                <li class="pb-0 m-0">
                                    Seleccione <strong>Solicitud de Soporte T.I.</strong> en el men&uacute; del lado izquierdo

                                </li>
                                <li class="pb-0 m-0">
                                    Presione el bot&oacute;n <button type="button" class="btn btn-primary"> + Nuevo </button>
                                </li>
                                <li class="pb-0 m-0">
                                    Llenar formulario
                                </li>
                                <li class="pb-0 m-0">
                                    Una vez llenado el formulario presionar el bot&oacute;n <img src="./assets/img/iconos/btn-guardar.png" width="40px">
                                </li>
                            </ol>

                            <div class="alert alert-danger" role="alert">
                                Importante: Debe de elegir el tipo de servicio que corresponda ya que esto indica a quien le debe de llegar el ticket.
                            </div>

                            <div class="alert alert-info m-0" role="alert">
                                Una vez atendido el ticket, por favor calificar el servicio, ya que con esto nos ayuda a ver como poder mejorar cada d&iacute;a m&aacute;s.
                            </div>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
                          P&eacute;rdida de equipo 
                          <i class="bx bx-chevron-down icon-show"></i>
                          <i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <ol>
                                <li class="pb-0 m-0">Contactar a RH e informar</li>
                                <li class="pb-0 m-0">Comunicar a Sistemas para cerrar todas las sesiones</li>
                            </ol>
                            <br>
                            <h5>Robo de equipo</h5>
                            <ol>
                                <li class="pb-0 m-0">Levantar acta en ministerio p&uacute;blico</li>
                                <li class="pb-0 m-0">Entregar el comprobante a R.H.</li>
                                <li class="pb-0 m-0">Mandar correo con comprobante a Sistemas</li>
                            </ol>

                            <div class="alert alert-info mt-4" role="alert">
                                <p>La reposici&oacute;n del equipo se efectuar&aacute; seg&uacute;n las pol&iacute;ticas de la empresa</p>
                            </div>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
                          P&eacute;rdida de celular
                          <i class="bx bx-chevron-down icon-show"></i>
                          <i class="bx bx-chevron-up icon-close"></i>
                      </a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <ol>
                                <li class="pb-0 m-0">Contactar a RH</li>
                                <li class="pb-0 m-0">Comunicar a Sistemas para bloquear n&uacute;mero</li>
                            </ol>
                            <br>
                            <h5>Robo del equipo</h5>
                            <ol>
                                <li class="pb-0 m-0">Levantar acta en ministerio p&uacute;blico</li>
                                <li class="pb-0 m-0">Entregar comprobante a Rh</li>
                                <li class="pb-0 m-0">Mandar correo con comprobante a Sistemas</li>
                            </ol>

                            <div class="alert alert-info mt-4" role="alert">
                                <p>La reposici&oacute;n del equipo se efectuar&aacute; seg&uacute;n las pol&iacute;ticas de la empresa</p>
                            </div>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                          Solicitar permisos a SOR
                          <i class="bx bx-chevron-down icon-show"></i>
                          <i class="bx bx-chevron-up icon-close"></i>
                      </a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>Los encargados de la gestión del SOR es por parte de Soporte T&eacute;cnico. </p>
                            <p>Enviar correo a Luis Raúl a<strong> lrdiaz&#64;gruporosmar.com</strong> con su solicitud.</p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Equipo Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Equipo</h2>
                <p>Conoce al equipo de Tecnologias de la Informaci&oacute;n. Si cuentas con alguna duda o problema realiza una solicitud de <br> servicios t&eacute;cnico en Sharepoint y te contactaremos para resolverla. ¡Estamos para apoyarte!
                </p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="member">
                        <img src="assets/img/team/EQUIPO MARCO DEMETRIO.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Marco Demetrio</h4>
                                <span>Gerente</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="assets/img/team/EQUIPO FRANCISCO.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Francisco Flores</h4>
                                <span>Coordinador</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="assets/img/team/EQUIPO FIDEL.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Fidel Reyes</h4>
                                <span>Soporte TI</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="assets/img/team/EQUIPO DANIEL.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Miguel Ramirez</h4>
                                <span>Soporte TI MTY</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section -->


</main>
<!-- End #main -->



<a href="#" class="btn-flotante d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ================ Modal =========== -->
<div class="modal" id="modal-construccion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">En construcci&oacute;n</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src=" ./assets/img/construccion.png" class="img-fluid ">
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal -->