<!-- ======= Footer ======= -->
<footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class=" col-12 ">
                <div class="copyright pt-4">
                    &copy; Copyright <strong><span>Rosmar</span></strong>
                </div>
                <div class="credits">
                    All Rights Reserved - Designed by Sistemas TI Rosmar
                </div>
                <div>
                    <small>Autor: Marco A. Demetrio L.</small>
                </div>

            </div>
        </div>

    </div>
</footer>
<!-- End Footer -->